body {
  font-family: Times New Roman;
  font-size: 15px;
	font-style: oblique;
  display: flex;
  justify-content: center;
  align-items: center;
   height: 100vh;
  background-size: cover;
	background: url("assets/h%C3%A1tt%C3%A9rk%C3%A9p.jpg") center center fixed;
	
}


	.container {
  float: right;
  background-color: #C0C0C0;
  text-align: center;
	width: 50%;
  margin: 5%;
  padding: 5%;
	border: 2px solid black;
  padding: 10px;
  border-radius: 25px;
  
}

.container2 {
	float: right;
  background-color: #C0C0C0;
  text-align: center;
	width: 50%;
  margin: 5%;
  padding: 5%;
	border: 2px solid black;
  padding: 10px;
  border-radius: 25px;
		
}

.container:hover {
	transform:scaleY(1.5);
}

.container2:hover {
	transform:scaleY(1.5);
}

.profile-card {
  background-color:hsla(60, 100%, 50%, .4);
  width: 480px;
  max-width: calc(100vw - 10px);
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 30px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  background-color:rgba(255,255,255,0.5);  
}
    
 img {
 width: 100px;
 height: 100px;
 border-radius: 40%;
 padding: 5px;
 background-color:#666;
 transition: all 0.5s ease-in-out;
 filter: grayscale(50%);
 animation:drop 1,5s ease;
 
}
 

.head, .content {
  width: 90%;
  margin: 0 auto;
}



.content {
  text-align:center;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
  
 
}

.profile-image {
  text-align:center;
  margin-top: 5px;
 
}

.name-headline {
  text-align:center;
}



.links {
  text-align:right; 
		
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.head, .about {
  margin-bottom: 10%;
}

img:hover {
  transform:rotate(20deg);
  filter: grayscale(20%);
}

i {
	color: black;
}
i:hover {
	color:black;
	transform:scaleY(1.5);
	filter: brightness(0);
}

@media screen
and (min-width:480px)
and (max-width:800px)
	.name-headline {
	margin-top: 5vh;
	text-align:center;
}

  